<fieldset>
  <legend>Lock time log Date</legend>
  <p>
    <label for="lock_date">Lock time log Date</label>
    <%= date_field_tag 'settings[lock_date]',Setting.plugin_redmine_timelog_restrict_date['lock_date'].to_s %>
  </p>
</fieldset>