<fieldset>
  <legend>Lock Date for Time Log</legend>
  <p>
    <label for="lock_date">Lock Date for Time Log</label>
    <%= date_field_tag 'settings[lock_date]',Setting.plugin_redmine_timelog_restrict_date['lock_date'].to_s %>
  </p>
</fieldset>
